replicaCount: 1

image:
  repository: 630019796862.dkr.ecr.us-east-1.amazonaws.com/retail-store-ui
  tag: "11fee5056c5cad9afc946428db66245de866d42c"
  pullPolicy: Always

imagePullSecrets:
  - name: regcred

service:
  type: ClusterIP
  port: 80
  targetPort: 8080

resources:
  requests:
    memory: "512Mi"
    cpu: "250m"
  limits:
    memory: "512Mi"
    cpu: "500m"

env:
  ENDPOINTS_CATALOG: "http://catalog:80"
  ENDPOINTS_CARTS: "http://cart:80"
  ENDPOINTS_ORDERS: "http://orders:80"
  ENDPOINTS_CHECKOUT: "http://checkout:80"
